:host {
  display: block;
}

.service-provider-card {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 16px;
  background-color: #ffffff;
  box-shadow: 2px 2px #ccc;
}

.available {
  color: green;
  font-weight: bold;
}

.unavailable {
  color: red;
  font-weight: bold;
}
